* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
body {
    font-family: Arial, sans-serif;
    display: flex;
  }

.sidebar {
  background-color: #004f73;
  color: #fff;
  padding: 20px;
  width: 200px;
}

.sidebar h2 {
  margin-bottom: 18px;
}

.sidebar ul {
  list-style: none;
}

.sidebar ul li {
  margin-bottom: 10px;
}

.sidebar ul li a{
  color: #fff;
  text-decoration: none;
}